button{
    padding: 15px;
    width: 32.5%;
    color: #fff;
    background-color: green;
}
input{
    width: 30%;
    padding: 15px;
    margin: 10px;
}
*{
    text-align: center;
    font-size: larger;
}
div{
    margin-top: 50px;
    margin-bottom: 30%;
}